@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-gray-gradient {
  @apply bg-gradient-to-b from-[#C4C3C3] to-black min-h-screen;
}

.p-horizontal {
  @apply px-5;
}

.absolute-menu {
  position: absolute;
  top: 85px;
  right: -100px;
  left: -100px;
  background-color: white;
  color: black;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
  opacity: 0;
  gap: 30px;
  transition: opacity 0.5s;
  pointer-events: none;
}

.relative:hover .absolute-menu,
.relative:hover .absolute-menu > * {
  opacity: 1;
  pointer-events: auto;
}
