@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Source Sans Pro", sans-serif;
}

body {
  @apply bg-dark;
}

.account-boxes-shadow {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.bg-gray-gradient {
  @apply bg-gradient-to-b from-[#C4C3C3] to-black;
}

.navbar-practice-submenu {
  position: absolute;
  top: 78px;
  right: -110px;
  left: -110px;
  background-color: white;
  color: black;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
  opacity: 0;
  gap: 30px;
  transition: opacity 0.5s;
  pointer-events: none;
}

.relative:hover .navbar-practice-submenu,
.relative:hover .navbar-practice-submenu > * {
  opacity: 1;
  pointer-events: auto;
}

.navbar-language-submenu {
  position: absolute;
  top: 70px;
  right: -15px;
  left: -15px;
  background-color: white;
  color: black;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
  opacity: 0;
  transition: opacity 0.5s;
  pointer-events: none;
}

.relative:hover .navbar-language-submenu,
.relative:hover .navbar-language-submenu > * {
  opacity: 1;
  pointer-events: auto;
}

.white-green-input {
  @apply px-5 py-3 rounded-lg bg-dark border-[1px] border-white sm:text-body-thin text-base-thin hover:border-light-green focus:outline-none active:outline-none;
}

.p-horizontal {
  @apply px-5 md:px-10;
}

.textarea-input {
  @apply px-5 py-3 rounded-lg bg-dark border-[1px] sm:text-body-thin text-base-thin  border-light-green focus:outline-none active:outline-none;
}

.scroll-to-top-shadow {
  box-shadow: 0 0 20px rgba(255, 251, 251, 0.5);
}

/* calendar specific classes */

.rbc-day-bg,
.rbc-date-cell {
  cursor: pointer !important;
}

.rbc-today {
  background-color: #11421f !important;
}

.rbc-current button:first-child {
  color: #fbfbfb !important;
  font-weight: bolder !important;
}

.rbc-btn-group button:first-child,
.rbc-btn-group button:first-child:hover::first-line,
.rbc-btn-group button:first-child::first-line {
  background-color: #11421f !important;
  font-weight: bolder !important;
  color: #fbfbfb !important;
}

.rbc-btn-group button {
  color: #fbfbfb !important;
  font-weight: bold !important;
  padding: 10px 10px !important;
}

@media (max-width: 768px) {
  .rbc-btn-group button {
    font-size: small !important;
  }
}

.rbc-btn-group button:focus {
  color: #11421f !important;
  font-weight: bolder !important;
}

.rbc-show-more {
  color: transparent !important;
  background-color: transparent !important;
  font-size: xx-small !important;
}

.rbc-event-content {
  background-color: transparent !important;
}

.rbc-button-link {
  cursor: default !important;
  background-color: #208336;
}

.rbc-toolbar-label {
  color: #fbfbfb !important;
  font-size: x-large;
  margin-top: 10px !important;
}

@media (max-width: 768px) {
  .rbc-toolbar-label {
    font-size: large !important;
    margin-left: 30px;
  }
}

@media (max-width: 520px) {
  .rbc-toolbar-label {
    font-size: medium !important;
    margin-left: 10px;
  }
}

@media (max-width: 380px) {
  .rbc-toolbar-label {
    margin-left: 0px;
  }
}

.rbc-header {
  color: #fbfbfb !important;
  padding: 10px 0px !important;
}

.rbc-month-view {
  margin-top: 10px !important;
}

.rbc-toolbar {
  display: flex !important;
  flex-direction: row !important;
}
